@charset "utf-8";
@font-face{font-family: Champagne; src: url("cac_champagne.woff") format("Woff"), url("cac_champagne.ttf") format("truetype");}
@font-face{font-family: Grunge; src: url("1942.woff") format("Woff"), url("1942.ttf") format("truetype");}
@font-face{font-family: Dobkin; src:url("DobkinPlain.woff") format("Woff"), url("DobkinPlain.ttf") format("truetype");}
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 1
   
   PHCT Typographic Style Sheet
   Author: Reece Sharp
   Date:   10/30/2021
   
   Filename: ph_styles.css

*/


/* Structural Styles */
html {background-color: hsl(91, 8%, 56%);}
body {background-color: hsl(58, 31%, 84%); font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;}
header {background-color: black;}
p {margin: 0px; padding-top: 5px; Padding-bottom: 25px; padding-right: 25px; padding-left: 25px;}
/* Navigation Styles */




/* Section Styles */
body > p {font-size: 1.1em; text-align: horizontal;}



/* Description List Styles */

