@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 1
   
   Layout styles for Slate and Pencil Tutoring
   Author: Reece Sharp
   Date:   11/13/2021
   
   Filename: sp_layout.css

*/

/* Window and Body Styles */
html {height: 100%;}
body {min-height: 100%; width: 95%; max-width: 960px; min-width: 640px; margin-left: auto; margin-right: auto; }
header, ul, nav, li, a {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}


/* Row Styles */
#row::after {clear: both;}




/* Page Header Styles */
body > header > img {display: block; width: 70%; float: left;}
body > header > nav.verticalnavigation {float: left; padding-left: 2%; padding-right: 2%; width: 30%; display: block; }




/* Horizontal Navigation List Styles */




/* Topics Styles */






/* HR Styles */




/* Customer Comment Styles */



/* Footer Styles */


